.homePage {
  background: url("../../assets/img/background.jpg") no-repeat;
  background-size: cover;

  height: 100%;

  display: flex;
  justify-content: center;

  @media (min-width: 960px) {
    padding-top: 100px;
  }
  padding-top: 35px;
}
